<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mixed Playlist</title>
    <link rel="stylesheet" href="static/styles/styles.css">
</head>
<body>
    <div class="container">

        {% block form %}
        <form class="form-wrapper">
        {% endblock %}

                {% block text_input %}{% endblock %}

                {% if not vids %}
                    {% block no_videos%}
                    <div class="rectangle">Playlist ID Not Found :(</div>
                    {% endblock %}
                {% endif %}

                {% block video_container %}
                    {% for vid in vids %}
                    <div class="rectangle">
                        <span class="placeholder-number">{{ vid.index }}.</span>
                        <div class="thumbnail" style="background-image: url('{{ vid.thumbnail }}');"></div>
                        <a href='{{ vid.url }}' class="video_title">{{ vid.title }}</a>
                        <span class="source">Source: {{ vid.source }}</span>
                    </div>
                    {% endfor %}
                {% endblock %}
        </form>

        <div class="corner-buttons">
            <button type="button" id="theme-button">
                <div id="theme-text">{{ 'Light' if theme == 'light' else 'Dark' }}</div>
                <div id="theme-icon" style="background-image: url('/static/images/{{ 'luna' if theme == 'dark' else 'celestia' }}_cutie_mark.png');"></div>
            </button>
            {% block corner_buttons %}{% endblock %}
        </div>

        <div id="loading-symbol"></div>
        {% block container_end %}{% endblock %}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        var theme = "{{ theme }}";
        console.log(theme);
        var clickable = {};
        var lastClick = 0;
        clickable.value = true;
        var rectangles = document.getElementsByClassName('rectangle');
        var remove_btns = document.getElementsByClassName('remove-button')
        var theme_btn = document.getElementById('theme-button')
        var url_btn = document.getElementById('add-url-btn');
        var theme_text = document.getElementById('theme-text');
        var theme_icon = document.getElementById('theme-icon');

        $("#theme-button").click(function() {
            if (!clickable.value) return;

            var currentTime = new Date().getTime();
            if (currentTime - lastClick < 800) {
                // Less than .8 second has passed since the last click, do nothing
                return;
            }
            lastClick = currentTime;

            clickable.value = false;
            $.ajax({
                url: '/switch_theme',
                type: 'POST',
                success: function(response) {
                    toggleTheme();
                    clickable.value = true;
                    console.log(response);
                },
                error: function(error) {
                    console.log(error);
                    clickable.value = true;
                }
            });
        });

        function toggleTheme() {
            var share_btn = document.getElementById('share-button');

            if (theme === 'light') {
                document.body.style.setProperty('--body-color', '#333679');
                theme_btn.style.setProperty('--theme-btn-color', 'black');
                theme_text.textContent = 'Dark';
                theme_icon.style.setProperty('background-image', 'url(/static/images/luna_cutie_mark.png)');

                if (share_btn) share_btn.style.setProperty('--share-btn-color', '#f9efc2');
                if (url_btn) url_btn.style.setProperty('--url-btn-color', '#f9efc2');

                for (var i = 0; i < rectangles.length; i++) {
                    rectangles[i].style.setProperty('--rectangle-color', '#ccc3fb');
                }
                for (var i = 0; i < remove_btns.length; i++) {
                    remove_btns[i].style.setProperty('--remove-btn-color', '#ccc3fb');
                }
            } else {
                document.body.style.setProperty('--body-color', '#fbf6fc');
                theme_btn.style.setProperty('--theme-btn-color', 'white');
                theme_text.textContent = 'Light';
                theme_icon.style.setProperty('background-image', 'url(/static/images/celestia_cutie_mark.png)');


                if (share_btn) share_btn.style.setProperty('--share-btn-color', '#6ebbcbbf')
                if (url_btn) url_btn.style.setProperty('--url-btn-color', '#fdec8c')

                for (var i = 0; i < rectangles.length; i++) {
                    rectangles[i].style.setProperty('--rectangle-color', '#f7e5f1');
                }
                for (var i = 0; i < remove_btns.length; i++) {
                    remove_btns[i].style.setProperty('--remove-btn-color', '#e9a2f1');
                }
            }
            theme = (theme === 'dark' ? 'light' : 'dark');
        }

        if (theme === 'dark') {
            theme = 'light';
            toggleTheme();
        }
        
        const myButton = document.getElementById('add-url-btn');
        const myTarget = document.getElementById('loading-symbol');
        
        function toggleVisibility() {
            myTarget.classList.toggle('visible');
        }
        
        myButton.addEventListener('click', toggleVisibility);
    </script>

    {% if sharevalue %}
    <script>
        function copyToClipboard() {
          var share_link = "{{ sharevalue }}";
          navigator.clipboard.writeText(share_link).catch(function(err) {
            alert('Could not copy text: ' + err);
          });          
        }
    </script>
    {% endif %}
</body>
</html>