<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mixed Playlist</title>
    <link rel="stylesheet" href="static/styles/styles.css">
</head>
<body>
    <div class="container">

        {% block form %}
        <form class="form-wrapper">
        {% endblock %}

                {% block text_input %}{% endblock %}

                {% if not vids %}
                    {% block no_videos%}
                    <div class="rectangle">Playlist ID Not Found :(</div>
                    {% endblock %}
                {% endif %}

                {% block video_container %}
                    {% for vid in vids %}
                    <div class="rectangle">
                        <span class="placeholder-number">{{ vid.index }}.</span>
                        <div class="thumbnail" style="background-image: url('{{ vid.thumbnail }}');"></div>
                        <a href='{{ vid.url }}' class="video_title">{{ vid.title }}</a>
                        <span class="source">Source: {{ vid.source }}</span>
                    </div>
                    {% endfor %}
                {% endblock %}

                <div class="loading-symbol"></div>

                {% block container_end %}{% endblock %}
        </form>

    </div>
    <script>
        const myButton = document.querySelector('.add-url-btn');
        const myTarget = document.querySelector('.loading-symbol');
        
        function toggleVisibility() {
            myTarget.classList.toggle('visible');
        }
        
        myButton.addEventListener('click', toggleVisibility);
    </script>

    {% if sharevalue %}
    <script>
        function copyToClipboard() {
          var share_link = "{{ sharevalue }}";
          navigator.clipboard.writeText(share_link).catch(function(err) {
            alert('Could not copy text: ' + err);
          });          
        }
    </script>
    {% endif %}
</body>
</html>