:root {
    --body-color: #fbf6fc;
    --rectangle-color: #f7e5f1;
    --video-title-color: #3396c4;
    --url-btn-color: #fdec8c; /*f3e6a0*/;
    --remove-btn-color: #6ebbcbbf;
    --share-btn-color: #6ebbcbbf;
    --theme-btn-color: white;
    --checks-failed-color: red;
}

body {
    background-color: var(--body-color);
    transition: background-color 0.5s ease;
}

.container
{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#add-url-btn {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--url-btn-color);
    color: #ffffff;
    align-items: center;
    text-align: center;
    font-size: 140%;
    line-height: 40%;
    cursor: pointer;
    border: none;
    margin-top: 10px;
}

.rectangle {
    position: relative;
    display: flex;
    align-items: center;
    width: 80vw;
    height: 25vw;
    background-color: var(--rectangle-color);
    border-radius: 5px;
    margin-top: 10px;
    max-height: 110px;
}

.rec-contents-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 100px;
}

.remove-button {
    background-color: var(--remove-btn-color);
    width: 20px;
    height: 20px;
    border: none;
    padding: 5px;
    position: absolute;
    visibility: hidden;
    background-image: url("/static/images/trash-icon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;

    top: 10px; /* Adjust the spacing from the top */
    right: 10px; /* Adjust the spacing from the right */
    border-radius: 50%; /* Make it circular */
    cursor: pointer;
}

.rectangle:hover > .remove-button {
    visibility: visible;
}

.thumbnail {
    width: 50%;
    height: 90%;
    background-size: cover;
    margin-left: 6px;
    border-radius: 5px;
    max-height: 100px;
    max-width: 170px;
}

.vid-issues {
    color: var(--checks-failed-color);
}

#loading-symbol {
    position: absolute;
    left: 50%;
    top: 40%;
    display: none;
    width: 20px;
    height: 10px;
    border: 4px solid #565656; /* Border for the circle */
    border-radius: 100px 100px 0 0; /* Top corners rounded to create a half-circle */    
    border-bottom: none;
    transform-origin: bottom;
    animation: spin 1s infinite linear;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#loading-symbol.visible {
    display: block;
}

.placeholder-number {
    font-size: 18px;
    margin-left: 1px;
}

.video-title {
    text-align: left;
    overflow-wrap: break-word;
    font-size: large;
    margin-bottom: 40px;
    color: var(--video-title-color);
    text-decoration: none;
}

.video-title:hover {
    text-decoration: underline;
}

.source {
    position: absolute;
    bottom: 3px;
    right: 5px;
}

#error-box {
    /*        T    R    L     B */
    padding: 30px 25px 25px 30px;
    background-color: #888;
    color: white;
    border-radius: 5px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    animation: fadeOut 3s ease-in-out forwards;
    animation-delay: 2s;
}

@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}

.corner-buttons {
    position: absolute;
    display: flex;
    top: 20px;
    right: 20px;
    flex-direction: row;
}

#theme-button {
    display: flex;
    flex-direction: row;
    /*     top  right left bottom*/
    padding: 7px 7px 9px 7px;
    border: none;
    align-items: center;
    text-align: start;
    background-color: var(--theme-btn-color);
    font-size: medium;
    color: gray;
    border-radius: 10%;
}

#theme-icon {
    background-size: cover;
    width: 24px;
    height: 24px;
    margin-left: 6px;
}

#share-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 25px;
    width: 25px;
    background-color: var(--share-btn-color);
    background-image: url("/static/images/link.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    border: none;
    border-radius: 50%;
    margin-left: 5px;
}

#share_hover_box {
    margin-top: 30px;
    visibility: hidden;
    background-color: black;
    opacity: 50%;
    color: rgb(167, 187, 255);
}

#share-button:hover > #share_hover_box {
    visibility: visible;
}